@font-face {
    font-family: 'ClearSans';
    src:  url("ClearSans-Bold.tff");
}

html, body {
    margin: 0;
    padding: 0;
}


.bigfont {
    font-size: 20px;
}

body {
    margin: 40px;
}

.grid {
    display: grid;
    /*!*position: relative;*!*/
    /*!*left: 50%;*!*/
    /*align-content: center;*/
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows: 125px 125px 125px 125px;
    grid-gap: 10px;
    background-color: #ffffff;
    color: #444;
}

.box {
    background-color: #BCBCBC;
    color: #fff;
    width: 125px;
    height: 125px;
    max-width: 125px;
    max-height: 125px;
    border-style: solid;
    border-color: #000000;
    border-radius: 5px;
    text-align: center;
}

p {
    padding: 25px 0;
    margin: 0 0;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 60px;
}

h1, h2 {
    font-family: Roboto, sans-serif;
    font-size: 35px;
}

h2 {
    font-style: italic;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
}

h1 {
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
}

.score {
    font-size: 30px;
    text-align: right;
    display: inline;
    left: 240px;
    position: relative;
    /*bottom: 350px;*/
    /*left: 340px;*/
}

.center {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.gameover {
    text-align: center;
}

.highscore {
    font-size: 20px;
    text-align: center;
}

.profilepic {
    display: inline-block;
    background-color: whitesmoke;
    position: absolute;
    padding: 8px;
    left: 20px;
    top: 20px;
}

.username {
    padding-left: 10px;
    font-size: 20px;
    left: 100px;
    top: 23px;
    position: absolute;
    display: inline-block;
}