html, body {
    margin: 0;
    padding: 0;
}

p, button {
    font-size: 50px;
}

.bigfont {
    font-size: 20px;
}

body {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}